<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">SongKick<i class="icon fire white"></i></a>
      <ul class="nav">
        <li class="active">
          <a href="#">Playlist</a>
        </li>

      </ul>
      <div class="pull-right">
        <form class="navbar-search pull-left">
          <input type="text" class="search-query" tabindex="1" placeholder="Search by Song, Artist, or Album">
        </form>
      </div>
    </div>
  </div>
</div>

